 body {
     background-color: rgb(223, 252, 223);
     font-family: Arial, Helvetica, sans-serif;
 }

 h3 {
     font-size: 28px;
     text-decoration: underline;
     text-align: center;
     color: rgb(14, 14, 219);
 }

 button {
     /* border: none; */
     border: 2px solid rgb(235, 235, 158);
     background-color: green;
     color: white;
     padding: 10px;
     border-radius: 25px;

 }

 .btn-2 {
     border: 2px solid orange;
     color: orange;
     background-color: white;
     padding: 10px;
     border-radius: 5px;

 }

 .btn-2:hover {

     color: white;
     background-color: orange;
 }

 p {
     font-size: 18px;
     color: blue
 }

 .buttons {
     text-align: center;

 }